@use "base/variables" as v;
@use "base/mixins" as m;

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.container {
  width: min(95%, 120rem);
  margin-inline: auto;
}

a {
  color: inherit;
  text-decoration: none;

  &:visited,
  &:link {
    color: black;
  }
}

img {
  max-width: 100%;
  display: block;
}
