@use "base/variables" as v;

@mixin telephone {
  @media (min-width: v.$telephone) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin grid($columns, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($columns, 1fr);
}

@mixin button($bgColor, $color) {
  padding: 2rem 4rem;
  background-color: lighten($bgColor, 15%);
  color: $color;
  border: none;
  transition: background-color 0.3s;

  &:hover {
    cursor: pointer;
    background-color: $bgColor;
  }
}
